:root {
  --regular-text: "PlayfairDisplay";
  --bold-text: "PlayfairDisplay-bold";
  --primary-font: 2rem;
  --secondary-font: 0.8rem;
  --first-text: #000;
  --second-text: #fff;
  --main-background: #fff;
  --decoration-background: #bfbfbf;
  --products-background: #384454;
  --main-rem: 1rem;
}